[defaults]
inventory = inventory/hosts.ini
remote_user = ansible
private_key_file = ~/.ssh/ansible_ed25519
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
forks = 10
roles_path = ./roles
vault_password_file = ~/.ansible/vault-password

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
